* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    font-family: sans-serif;
}

div,
section,
span,
ul,
li,
a,
header {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: inherit;
}

h1 {
    font-size: 4.26vw;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: #303030;
}

h3 {
    font-size: 1.765vw;
    margin-bottom: 20px;
}

h4 {
    margin-bottom: 20px;
    font-size: 24px !important;
    line-height: 1.2 !important;
}

p {
    font-size: 18px !important;
    line-height: 24px !important;
    color: #303030;
    text-align: center;
}

span {
    font-size: 1.029vw;

}

a {
    text-decoration: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper{
  height: 700px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet{
    font-size: 28px;
    color: #FFF;
    width: 100% !important;
    height: auto !important;
    background: transparent !important;
    margin: 16px 0;
}

.swiper-pagination-bullet::after{
    content: " ";
    width: 29px;
    height: 2px;
    display: block;
    background: #fff;
}

.swiper-pagination-bullet-active{
    color: #fff;
    font-size: 33PX;
    width: 100% !important;
    height: auto !important;
}

.headlogo {
    WIDTH: 136px;
}

/* hero */

.firsthero{
    position: relative;
    background: #000;
}

.MS h4{
    font-size: 13PX !important;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
margin-bottom: 0 !important;
}

.headfirst, .headlast {
    display: flex;
    gap: 16px;
}

.MS span{
    font-size: 19PX;
    font-weight: 600;
    text-align: center;
}
header{
    background-color: #000;
}

header a{
    text-decoration: none;
    color: #fff;
}

.tophead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:32px 32px 0 32px;
}

.motoinfo{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
        POSITION: absolute;
        BOTTOM: 1px;
        Z-INDEX: 3;
}

 .ts{
    /* margin: 39px 0 !important; */
    padding: 0 39px !important;
    border-right: 1px solid #fff;
}

.pow{
    margin: 23px 0 !important;
    padding: 13px 39px !important;
    border-right: 1px solid #fff;
}
 .machinename{
    background-color: #303030;
    padding: 39px;
    color: #fff;

 }

.machine_img{
    width: 270px;
}

.machine{
    margin: 39px;
    color: #fff;
    height: 70px;
}

.motostyle{
    display: flex;
    align-items: center;
    background: #000;
    justify-content: flex-end;
    width: max-content;
    height: fit-content;
}

.spacetopbottommar{
    margin-bottom: 60px;
}

.page-width {
    max-width: 1236px;
    width: 100%;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto;
    margin-left: auto;
}

.tab, .tabbtm {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    gap: 23px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.tab button, .tabbtm button {
    background-color: inherit;
    float: left;
    border: none;
    text-transform: uppercase;
    color: #303030;
    padding: 0 6px 0 6px;
    font-size: 24px;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button.active {
    color: red;
    border-bottom: 2px solid red;
}

.tabbtm button.activebtm {
    color: red;
    border-bottom: 2px solid red;
}

.tabcontent, .tabcontentbm {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tabcontent, .tabcontentbtm {
    animation: fadeEffect 1s;
    padding-top: 73px;
}

.tabtexthero p{
    margin-bottom: 43px;
}

.biketab {
    display: flex;
}

.tabtexthero h2, .tabtexthero p{
    text-align: center;
}

.tabtexthero h2{
    margin-bottom: 13px;
}

.tabtexthero p{
    margin-bottom: 53px;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.tile-teaser {
    /* border-radius: 10px; */
    background-size: cover;
    color: #fff;
}

.tile-teaser .img-text {
    width: 100%;
    padding: 10px 20px 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    position: relative;
    z-index: 1;
}

.tile-teaser .img-text::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 96px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.898958) 23.23%, #000 100%);
    opacity: .5;
}

.h3-bold-heading-std{
    color:#fff
}

.launchimgttl.d-flex{
    display: flex;
    width: 100%;
/* gap: 17px; */
justify-content: center;
    align-items: center;
}

.newlaunches {
    background-image: url('/Images/tyremarks.png');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    padding-top: 120px;
}

.spacetopbottom{
    padding-bottom: 120px;
}

.tileteaser{
    width: 333px;
}

/* @media (min-width: 768px) {
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .col-xl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
} */

.newlaunches h2{
    margin-bottom: 43px;
}

.launchparap{
    text-align: left;
    color: #fff;
}

/* form */

.inrspc{
padding: 80px 0;
}


.herofield{
    background: red;
    margin-bottom: 120px;
}

/* container and form */

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 30px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  left: 0;
  bottom: 0;
}

.container form .user__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
/* inside the form user details */
form .user__details .input__box {
  width: calc(100% / 3 - 20px);
  margin-bottom: 55px;
}

.user__details .input__box .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.user__details .input__box input {
  height: 45px;
  width: 100%;
  outline:none;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  transition: all 0.3s ease;
}

form input[type="radio"] {
  display: none;
}

/* submit button */
form .button {
  height: 45px;
  margin: 0;
  display: flex;
  justify-content: center;
}

form .button input {
    height: 100%;
    width: fit-content;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 35px;
    background: #000;
    transition: all 0.3s ease;
    padding: 13px 67px;
}

form .button input:hover {
  background: linear-gradient(-135deg, var(--main-blue), var(--main-purple));
}

::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: #fff;
  }


  .contactform h2, .contactform p{
    color:#fff;
  }

  .contactform h2{
    margin-bottom: 13px;
  }

 .contactform p{
    margin-bottom: 53px;
  }

@media only screen and (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user__details .input__box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .gender__details .category {
    width: 100%;
  }

  .user__details::-webkit-scrollbar {
    width: 0;
  }
}

/* be a hero */

.beahero h2{
    margin-bottom: 13px;

}

.beahero p {
    margin-bottom: 53px;
}

/* about */
.abouttabcon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abouttxt, .aboutbikeimg{
    width: 50%;
}

.abouttxt p{
    text-align: left;
}

.abouttxt h3{
    color: red;
    font-size: 32px;
}

#about{
    padding-top: 53px;
}

/* dealership */

.dealership{
    background: #d9d9d9;
    margin-bottom: 120px;
}


.dealcon{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.stylmile{
    font-size: 52px;
    font-weight: 900;
    color: red;
}

.bordside{
    border-right: 1px solid black;
}

.gridlayout{
    display: flex;
    gap: 23px;
    padding-left: 89px;
}

.gridtop, .gridbtm {
    display: flex;
    flex-direction: column;
    gap: 93px;
}

.rollnumber{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 23px;
}

.rolltxt{
    font-size: 18px;
    font-weight: 400;
    color: #303030;
    text-align: center;
}

.motoimg{
    width: 286px;
    position: absolute;
    top: 46px;
    right: -142px;
}

.ttltxt p{
    text-align: left;
}

.dealbike{
    width: 50%;
    background: #fff;    
    padding-left: 36px;
    padding-right: 136px;
    position: relative;
}

.dealnumber{
    width: 50%;
    display: flex;
    justify-content: center;
}

.ttltxt h3{
    font-size: 48px;
    margin-bottom: 36px;
    margin-top: 16px;
}

.ttltxt h1{
    color:red;
    font-size: 93px;
}

/* how can we help you */

.helpleft, .helpright{
    width: 50%;
}

.help-main-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.help-box{
    width: auto;
    margin-bottom: 58px;
    margin-right: 0;
    /* width: 30%; */
}

.help-icon-box{
    width: max-content;
    height: 113px;
    background: #fff;
    border-radius: 4px;

    border: 1px solid #dddcdc;
    box-shadow: 0 8px 24px #dddcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
}

.help-box p{
    margin-top: 18px;
    text-align: center;
    font-size: 19px !important;
    line-height: 1.2 !important;
}

.helpright{
    background-image: url('/Images/bike-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.helpyou{
    display: flex;
    position: relative;
}

.helphdng{
    margin-bottom: 33px;
}

.rpos{
    position: absolute;
    right: 93px;
    bottom: 13px;
    color: #fff;
    font-size: 36px;
}


.swiper-button-next, .swiper-button-prev{
    color: #000 !important;
    /* background-color: #000;
    background: #000; */
  }

  /* .swiper-button-next, .swiper-rtl .swiper-button-prev{
    color: #000;
    background-color: #000;
    background: #000;
  }

  .swiper-button-next:after, .swiper-button-prev:after{
    color: #000;
    background-color: #000;
    background: #000;   
  }
  
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    color: #000;
    background-color: #000;
    background: #000;  
} */



@media(max-width:768px){

    .rpos {
    position: unset;
    }

    #overlay {
        position: fixed;
        display: none;
        width: 100%; 
        height: 100%;
        top: 69px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer; 
      }

    .fa-navicon:before, .fa-reorder:before, .fa-bars:before{
        background-color: #ffbf27;
        color: #fff;
    }

    h1 {
        font-size: 23px;
    }

    h2{
        font-size: 28px;
    }

    h3 {
        font-size: 15px;
        margin-bottom: 9px;
    }

    h4 {
        font-size: 11px;
    }

    p{
        font-size: 16px !important;
    }

    span {
        font-size: 6px;
    }

    .spacetopbottom{
        padding-bottom: 60px;
    }

    .help-main-box {
        display: block;
        display: flex;
        gap: 14px;
        overflow: scroll;
        padding-left: 15px;
    }

    .helpyou{
        display: block;
    }

    .helpleft, .helpright{
        width: 100%;
    }

    .launchimgttl.d-flex{
        flex-direction: column;
        gap: 19px;
    }

    .abouttabcon{
        flex-direction: column;
    }

    .abouttxt, .aboutbikeimg{
        width: 100%;
    }

    .dealcon{
        flex-direction: column;
    }

    .dealership{
        background: unset;
        margin-bottom: 0;
        padding-bottom: 60px;
    }

    /* form */

    .herofield {
        margin-bottom: 60px;
    }

    /* dealership */

    .dealbike,.dealnumber {
        width: 100%;
        padding-top: 23px;
        justify-content: flex-start;
    }

    .dealbike{
        padding: unset;
    }

    .ttltxt h3{
        font-size: 28px;
        margin-bottom: 26px;
    }

    .stylmile{
        font-size: 22px;
    }

    .rolltxt{
        font-size: 8px;
    }

    .gridlayout{
        padding: unset;
        gap: 16px;
    }
    .rollnumber{
        padding-right: 16px;
    }

    .gridtop, .gridbtm {
    gap: 23px;
    }

    .ttltxt h1 {
        color: red;
        font-size: 53px;
    }

    /* explore */

    .tabtexthero p{
        font-size: 16px !important;
    }

    .tab button, .tabbtm button{
        font-size: 18px;
    }

    .tabcontent, .tabcontentbtm {
        padding-top: 39px;
    }

    .biketab{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .tileteaser {
        width: 100%;
    }

    .help-box p{
        font-size: 13px !important;
    }

    .help-icon-box{
        height: auto;
        box-shadow: 0 3px 3px #dddcdc;
    }

    .help-main-box::-webkit-scrollbar {
        display: none;
      }
      
      .help-main-box {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }

    .helpyou h2{
        MARGIN-BOTTOM: 19px;
    }

    .help-box{
        margin-bottom: 28px;
    }

    .motoimg {
        width: 76px;
        position: absolute;
        top: 346px;
        right: -3px;
    }

    .inrspc {
        padding: 33px 0;
    }

    /* tab */
    .tab, .tabbtm{
        overflow: scroll;
    }
}
